/* You can add global styles to this file, and also import other style files */

.btn {
    border: transparent;
    transition: .2s;
    &:focus {
        outline: transparent;
    }
    &:hover {
        background-color: black;
        color: white;
    }
    cursor: pointer;
}

.btn-disabled {
    border: transparent;
    color: #aaa;
    background-color: #333;
    &:focus {
        outline: transparent;
    }
}

.dialog {
    z-index: 999;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}