/* You can add global styles to this file, and also import other style files */


/*colors*/
$text-default: whitesmoke;
$text-highlighted: yellow;
$text-orange: orangered;

$background-dark: #181818;
$background-medium: #616161;
$background-light: #e7e7e7;

$dialog-padding: 5px;

.outln {
    outline: none !important;
}

.btn {
    text-align: center;
    border: 2px solid transparent;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    background: transparent;

    transition: .2s;
    &:focus {
        outline: transparent;
    }
    &:hover {
        background-color: $background-dark;
        color: $text-highlighted;
        border-top: 2px solid $text-orange;
        border-bottom: 2px solid $text-orange;
    }
    cursor: pointer;
}

.btn-disabled {
    border: transparent;
    color: #aaa;
    background-color: #333;
    &:focus {
        outline: transparent;
    }
}

.btn-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog {
    z-index: 999;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-displayed {
    display: block;
}

.dialog-hidden {
    display: none;
}

body {
    background-color: $background-light;
}