/* You can add global styles to this file, and also import other style files */


/*colors*/
$text-default: whitesmoke;
$text-highlighted: yellow;
$text-orange: orangered;
$text-darkred: maroon;

$background-dark: #181818;
$background-medium: #616161;
$background-light: #e7e7e7;

$dark-transparent: #000000cc;
$dark-transparent-more: #00000055;

$dialog-padding: 5px;

// fonts
@font-face {
    font-family: andromeda;
    src: url(/fonts/Andromeda.ttf);
  }

.font-andromeda {
    font-family: andromeda;
}

.outln {
    outline: none !important;
}

.btn {
    text-align: center;
    border: 2px solid transparent;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    background: transparent;

    transition: .2s;
    &:focus {
        outline: transparent;
    }
    &:hover {
        background-color: $background-dark;
        color: $text-highlighted;
        border-top: 2px solid $text-orange;
        border-bottom: 2px solid $text-orange;
    }
    cursor: pointer;
}

.btn-silver {
    text-align: center;
    color: $text-default;
    border: 2px solid transparent;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    background: transparent;

    transition: .2s;
    &:focus {
        outline: transparent;
    }
    &:hover {
        background-color: $background-medium;
        color: $text-highlighted;
        border-top: 2px solid $text-highlighted;
        border-bottom: 2px solid $text-highlighted;
    }
    cursor: pointer;
}

.btn-disabled {
    border: transparent;
    color: #aaa;
    background-color: #333;
    &:focus {
        outline: transparent;
    }
}

.btn-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog {
    z-index: 999;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-x { display: flex; }

.flex-y { 
    display: flex;
    align-items: center;
}

.dialog-displayed {
    display: block;
}

.dialog-hidden {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.w-10p {
    width: 10%;
}

.w-50p {
    width: 50%;
}

.w-70p {
    width: 70%;
}

.w-80p {
    width: 80%;
}

.w-90p {
    width: 90%;
}

body {
    background-color: $background-light;
}