@import '../../../../../styles.scss';

.dialog-content {
    width: 50%;
    padding: 2rem;
    border: 1px solid $text-darkred;
    background: $background-dark;
    margin: auto;
    color: $text-default;
}