<div class="index-container w3-container w3-center">
    <div class="w3-panel">
        <span class="index-header w3-red">Change Tracer</span>
        <br/>
        CQRS with (bad) Event Sourcing
    </div>

    <div class="w3-panel w3-pale-yellow">
        Instead of the 'About Page', if you came this far, you probably know what to expect.
        Click that button in the navigation to get to the real thing.
    </div>
    <button (click)="test()">page loader test</button>
    <button (click)="test2()">page loader test</button>
</div>