<div class="header-container w3-container w3-center header-dark">
    <h1 class="noselect font-andromeda header-dark">Change Tracer</h1>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <i class="far fa-compass"></i> navigation <i class="far fa-compass"></i>
        </div>
        <div class="flip-card-back w3-row">
            <div (click)="navigateTo('', 0)" class="w3-quarter nav-button" [ngClass]="{'active-tab': activeTab === 0}">
                Index
            </div>
            <div (click)="navigateTo('cocktails', 1)" class="w3-quarter nav-button"
                [ngClass]="{'active-tab': activeTab === 1}">
                Cocktails
            </div>
            <div (click)="navigateTo('ingredients', 2)" class="w3-quarter nav-button"
                [ngClass]="{'active-tab': activeTab === 2}">
                Ingredients
            </div>
            <div (click)="navigateTo('events', 3)" class="w3-quarter nav-button"
                [ngClass]="{'active-tab': activeTab === 3}">
                Events
            </div>
        </div>
    </div>
</div>