@import '../../../styles.scss';

.header-container > h1 {

    border-bottom: 4px solid black;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: .5s;
    color: $text-orange;

    &:hover {
        text-shadow: 2px 2px 5px $text-darkred;
    }
}

.nav-button {
    text-align: center;
    border: 2px solid transparent;
    background: transparent;

    transition: .2s;
    &:focus {
        outline: transparent;
    }
    &:hover {
        background-color: $background-dark;
        color: $text-highlighted;
        border-top: 2px solid $text-orange;
        border-bottom: 2px solid $text-orange;
    }
    cursor: pointer;
}

.active-tab {
    background-color: $background-dark;
    color: $text-highlighted;
    border-top: 2px solid $text-orange;
    border-bottom: 2px solid $text-orange;
}

.header-dark {
    background-color: $background-dark;
}

.flip-card {
    font-size: 1.3rem;
    perspective: 1000px;
}

.flip-card-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front {
    text-align: center;
    color: $text-highlighted;
}

.flip-card-back {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    border-bottom: 1px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }