@import '../../../../styles.scss';


.action-btn {
    width: 9rem;
}

.flex-even {
    justify-content: space-evenly;
}

.w-10p {
    width: 10%;
}

.w-70p {
    width: 70%;
}

.w-90p {
    width: 90%;
}

.event-container {
    &:hover > div {
        color: $text-orange;
        cursor: pointer;
    }
}

.event-index {
    border: 2px solid transparent;
    border-right: 2px solid $text-highlighted;
    margin-right: 5px;
    background: linear-gradient(to right, transparent , $background-dark);
    color: $text-highlighted;
    text-align: center;
}

.event-text {
    color: $text-default;
}

.self-center {
    margin: auto;
}
