progress::-webkit-progress-value {
    background-color: orange !important;
}


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

details:hover {
    cursor: pointer;
}

summary:focus {
    outline: none;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }