<div class="w3-container">
    <details>
        <summary>
            <div class="w3-row">
                <div class="w3-third">{{ cocktail.name }}</div>
                <div class="w3-twothird">
                    <button class="w3-button w3-circle">
                        <i class="fas fa-blender"></i>
                    </button>
                    <button (click)="deleteCocktail()" class="w3-button w3-circle">
                        <i class="fas fa-skull-crossbones"></i>
                    </button>
                </div>
            </div>
        </summary>
        <div>
            <div *ngFor="let ingredient of cocktail.ingredients">
                <div>{{ ingredient.name }}</div>
                <progress max="10" [value]="ingredient.amount"></progress>
            </div>
        </div>
    </details>
</div>