<div *ngIf="dataLoaded" class="w3-container">
    <div class="w3-row w3-container">
        <p>
            This is the core of the program.
            Select whether or not you wish to save each change upon editing,
            or run a batch of commands when clicking on 'save' button
        </p>
        <div class="w3-row button-container">
            <button (click)="toggleSavingType()" class="btn">{{ toggleButtonMesage }}</button>
        </div>
    </div>
    <br/>
    <div class="w3-row w3-container">
        <div class="w3-twothird w3-pale-blue">
            <button (click)="createCocktail()" class="w3-button w3-large w3-circle w3-xlarge">
                <i class="fas fa-cocktail"></i>
            </button>
            <br />
            <div class="w3-container w3-twothird w3-blue-gray">
                <div *ngFor="let cocktail of cocktails">
                    <app-cocktail [cocktail]="cocktail"></app-cocktail>
                </div>
            </div>
        </div>

        <div class="w3-third w3-teal">
            <app-event-panel #eventPanel [localChangesEnabled]="saveBtnEnabled"></app-event-panel>
        </div>
    </div>

    <div>
        <button [ngClass]="(saveBtnEnabled) ? 'btn' : 'btn-disabled'">Save</button>
    </div>
</div>