<div class="w3-modal w3-center" [ngClass]="(visible) ? 'dialog-displayed' : 'dialog-hidden'">
    <div class="w3-container dialog-content">
        <br/>
        <div class="w3-row w3-margin-bottom">
            <div class="w3-third w3-left">
                Enter cocktail name
            </div>
            <div class="w3-third">
                <input class="w-100p" type="text" [(ngModel)]="cocktail.name">
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-twothird w3-left">
                Add ingredients:
                <div *ngIf="!!ingredients" class="w3-third">
                    <div *ngFor="let excerpt of excerpts">
                        <select>

                        </select>
                    </div>
                </div>
                <div>
                    <button class="w-100p action-btn btn-silver"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
        <br/>
        <div class="w3-center w3-red">{{ errorMessage }}</div>
        <div class="w3-row">
            <div class="btn-flex">
                <button (click)="onConfirm()" class="btn-silver">Ok</button>
                <button (click)="onClose()" class="btn-silver">Cancel</button>
            </div>
        </div>
    </div>
</div>