<div class="nav-wrapper w3-container">
    <div class="nav-content w3-container w3-center">
        <h3>Pages:</h3>
        <div>
            <button 
                class="btn nav-btn"
                (click)="navigate('cocktails')"
            >Cocktails</button>
        </div>
        <div>
            <button
                class="btn nav-btn"
                (click)="navigate('ingredients')"
            >Ingredients</button>
        </div>
        <div>
            <button
                class="btn nav-btn"
                (click)="navigate('events')"
            >Events</button>
        </div>
    </div>
</div>

